In [102]:
import json  
import pprint as pp
from pandas.io.json import json_normalize

In [103]:
with open('./data.json') as f:
  data_js = json.load(f)

In [104]:
pp.pprint(data_js)

[{'CreateDate': '2021-05-24T20:21:34.79',
  'Discount': 0.0,
  'EmissionDate': '2021-05-24T00:00:00',
  'ItemList': [{'ProductName': 'Rice', 'Quantity': 2, 'Value': 35.55},
               {'ProductName': 'Flour', 'Quantity': 5, 'Value': 11.55},
               {'ProductName': 'Bean', 'Quantity': 7, 'Value': 27.15}],
  'NFeID': 1,
  'NFeNumber': 501},
 {'CreateDate': '2021-05-24T20:21:34.79',
  'Discount': 0.0,
  'EmissionDate': '2021-05-24T00:00:00',
  'ItemList': [{'ProductName': 'Tomate', 'Quantity': 10, 'Value': 12.25},
               {'ProductName': 'Pasta', 'Quantity': 5, 'Value': 7.55}],
  'NFeID': 2,
  'NFeNumber': 502},
 {'CreateDate': '2021-05-24T20:21:34.79',
  'Discount': 0.0,
  'EmissionDate': '2021-05-24T00:00:00',
  'ItemList': [{'ProductName': 'Beer', 'Quantity': 6, 'Value': 9.0},
               {'ProductName': 'French fries', 'Quantity': 2, 'Value': 10.99},
               {'ProductName': 'Ice cream', 'Quantity': 1, 'Value': 27.15}],
  'NFeID': 3,
  'NFeNumber': 503}]

In [105]:
df = json_normalize(data=data_js, record_path='ItemList', 
                            meta=['CreateDate', 'EmissionDate','Discount', 'NFeNumber', 'NFeID'])
df.head(9)

<ipython-input-105-b0924302dfc0>:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  df = json_normalize(data=data_js, record_path='ItemList',

,ProductName,Value,Quantity,CreateDate,EmissionDate,Discount,NFeNumber,NFeID
0,Rice,35.55,2,2021-05-24T20:21:34.79,2021-05-24T00:00:00,0.0,501,1
1,Flour,11.55,5,2021-05-24T20:21:34.79,2021-05-24T00:00:00,0.0,501,1
2,Bean,27.15,7,2021-05-24T20:21:34.79,2021-05-24T00:00:00,0.0,501,1
3,Tomate,12.25,10,2021-05-24T20:21:34.79,2021-05-24T00:00:00,0.0,502,2
4,Pasta,7.55,5,2021-05-24T20:21:34.79,2021-05-24T00:00:00,0.0,502,2
5,Beer,9.00,6,2021-05-24T20:21:34.79,2021-05-24T00:00:00,0.0,503,3
6,French fries,10.99,2,2021-05-24T20:21:34.79,2021-05-24T00:00:00,0.0,503,3
7,Ice cream,27.15,1,2021-05-24T20:21:34.79,2021-05-24T00:00:00,0.0,503,3

In [106]:
df_product = df["ProductName"]

In [107]:
df_product

0            Rice
1           Flour
2            Bean
3          Tomate
4           Pasta
5            Beer
6    French fries
7       Ice cream
Name: ProductName, dtype: object

In [108]:
df_product = df_product.to_frame().reset_index()
df_product.reset_index(inplace=True)
df_product['product_id'] = df_product.index
df_product.index += 1 
df_product['product_id'] += 1
df_product = df_product.loc[:,'ProductName':'product_id']

In [109]:
df_product

    ProductName  product_id
1          Rice           1
2         Flour           2
3          Bean           3
4        Tomate           4
5         Pasta           5
6          Beer           6
7  French fries           7
8     Ice cream           8